body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.heading {
    color: #333;
    margin-bottom: 20px;
}

.entervalue input[type="text"],
.entervalue input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px ;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;

}
input{
    padding: 6px 3px;
    margin: 2vh 5vw;
}

.entervalue button.submit {
    display: inline;
    width: calc(100% - 20px);
    padding: 12px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.entervalue button.submit:hover {
    background-color: #45a049;
}